/**
 * The following is not related to the plugin
 */
body {
    /*
    background: #fbfcfc;
    font-family: Tahoma;
    */
}

.container {
    /*
    max-width: 700px;
     */
}

.log:not(:empty) {
    /*
    padding: 5px;
    background: #16a085;
    color: #fff;
    */
}

